.center {
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

#regress {
	float: left;
	width: 5%;
	height: inherit;
	background-color: red;
}

#advance{
	float: right;
	width: 5%;
	height: inherit;
	background-color: green;
}

.item-tile {
	background-color: #88a1c9;	
	border-style: outset;
}

.table {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
}

.item-tile:hover {
	background-color: #90b1e5;
	border-style: inset;
}

#item-link {
	color: black;
}

.element {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

.element-left {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: left;
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

.login-box {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
	margin: auto;
	width: 14%;
	min-width: 250px;
	padding: 10px;
}

html{
	background-color:#dee2e8;
}

body {
	font-size:14px!important;
}

tr a {
    display: block;
}

.error {
	color: #ff0000;
}