html {
	background-color: #dee2e8;
}

body {
	font-size: 14px !important;
}

tr a {
	display: block;
}

.error {
	color: #ff0000;
}

.center {
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

.dashboard {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
}

.element {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

.element-left {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: left;
	margin: auto;
	width: 60%;
	min-width: 340px;
	padding: 10px;
}

.login-box {
	border: 1px solid #555555;
	background-color: #d7dfed;
	text-align: center;
	margin: auto;
	width: 14%;
	min-width: 250px;
	padding: 10px;
}

.table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	margin: 0 auto;
	width: 80%;
}
.table td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    -moz-border-radius: ;
}

.item-tile {
	background-color: #88a1c9;
	border-style: outset;
}

.item-tile:hover {
	background-color: #90b1e5;
	border-style: inset;
}

#item-link {
	color: black;
}

.navig {
	background-color: #88a1c9;
	border-style: ridge;
	width: calc(50% - 6px);
}

.leftn {
	float: left;
}

.rightn {
	float: right;
}

.navig:hover {
	background-color: #90b1e5;
	border-style: inset;
}

.navig img {
	width: 25px;
}